<div class="message_container">
<section class="newmessage">
  <h2> Send a message to a fellow Roadtripper! </h2>
    <%= render 'form' %>
</section></br></br>

<%= link_to "Return to Messages Inbox", user_messages_path(current_user), class: 'game_page_link' %>
</div>
