<h1>Games#index</h1>

<div id="question_box">
  <button id="correct_answer">Correct Answer</button><!-- button to move car once correct answer is selected -->
</div>

<%= image_tag "Truckster.jpg", :id => "car" %><br/>

<button id="start_button">Start Trip</button><br/><!--Button to move car to middle of screen-->

<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %><br/>

<%= link_to "Leader Board", scores_index_path %>

