<h1>Games#index</h1>

<img id="car" src="https://m1.behance.net/rendition/modules/52485049/disp/54b3856bb94399b76576c236b9162f4b.jpg"/><br />

<button id="start_button">Start</button><br/><!--Button to move car forward-->

<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %><br />

<%= link_to "Leader Board", scores_index_path %>

