/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background-color: rgba(129,130,129,0.7)
}

.page_banner {
  background-color: rgba(129,130,129,0.7);
  text-align: center;
  margin-top: 140px;
  height: 100px;
}

.banner_content {
  margin: 0 auto;
  font-family: "Arial Black";
  font-style: italic;
  color: #FFCC00;
  font-size: 70px;
  text-decoration: none;
}

a:hover.banner_content {
  color: #E6E6E6;
}

.signed_in_notice {
  font-family: "Arial";
  color: rgba(211, 84, 0,1.0);
  font-size: 20px;
  margin-top: 8px;
  text-align: right;
  padding-right: 30px;
}

.leaderboard_logged_in_notice {
  font-family: "Arial";
  color: rgba(211, 84, 0,1.0);
  font-size: 20px;
  margin-top: 8px;
  text-align: right;
  padding-right: 30px;
  text-align: center;
}

.form_container {
  background: rgba(46, 204, 113,1.0);
  width: 250px;
  margin: 25px auto;
  padding: 15px;
  border-radius: 10px;
}

.form_heading {
  font-family: "Arial Black";
  margin: 0 auto 10px auto;
}
