.new_message {
  text-align: center;  
}

.message_container {
  text-align: center;
}

.message_navigation {
text-align: center;
}

.messages_heading {
font-family: "Arial Black";
  margin: 0 auto 10px auto;
  text-align: center;
}

.messages_sub_headers {
  font-family: "Arial";
  font-size: 25px;
}

.single_message_show {
  text-align: center;
}
