.leader_board_container {
  margin:0px;
  padding:0px;
  width:50%;
  margin: 30px auto;
  text-align: center
}

.leader_board_caption {
  font-family: "Arial Black";
  font-size: 25px;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin: 0 auto;
  font-family: "Arial";
  border-radius: 10px;
}

th {
  height: 25px;
  background-color: rgba(52, 152, 219,1.0);
  color: #E6E6E6;
  padding: 10px;
}

td {
    text-align: center;
    height: 20px;
    padding: 10px;
    background-color: #E6E6E6;
}

.leaderboard_page_link {
  text-decoration: none;
  font-family: "Arial Black";
  font-size: 25px;
}

#leaderboard_play_again {
  margin-right: 15px;
}

#leaderboard_signout {
  margin-left: 15px;
}

a:link.leaderboard_page_link {
    color: #FFCC00;
}

a:visited.leaderboard_page_link {
    color: #FFCC00;
}

a:hover.leaderboard_page_link {
    color: #E6E6E6;
}

